.vscode
icons
!awesome/.config/awesome/themes/icons
themes
!awesome/.config/awesome/themes
zsh/.zsh/plugins/*
!zsh/.zsh/plugins/zsh-colored-man-pages
!zsh/.zsh/plugins/zsh-colored-ls
!zsh/.zsh/plugins/prompt
zsh/.zsh/cache
*zwc
zsh/.zsh/ztupide
polybar/.config/polybar/modules/datepid
fonts/.local/share/fonts/.uuid
gtk/.config/gtk-3.0/bookmarks
autostart/.config/autostart/*.desktop
!autostart/.config/autostart/awdctl.desktop
!autostart/.config/autostart/picom.desktop
!autostart/.config/autostart/clipit.desktop

