.vscode
icons
!awesome/.config/awesome/themes/icons
themes
!awesome/.config/awesome/themes
zsh/.zsh/plugins/*
!zsh/.zsh/plugins/zsh-colored-man-pages
!zsh/.zsh/plugins/zsh-colored-ls
!zsh/.zsh/plugins/prompt
zsh/.zsh/cache
*zwc
zsh/.zsh/ztupide
mpd/.config/mpd/pid
mpd/.config/mpd/state
mpd/.config/mpd/database
polybar/.config/polybar/modules/datepid
fonts/.local/share/fonts/.uuid
