configuration {
	show-icons: true;
	icon-theme: "Papirus";
	sidebar-mode: true;
}

@import "base.rasi"

window {
	y-offset: 30px;
	location: north west;
	width: 62ch;
	height: 96.67%;
	border: 0 2px 0 0;
}

listview {
	scrollbar: true;
	margin: 0 25px 0 25px;
	dynamic: false;
	lines: 20;
}
